@import "_reset.scss";
@import "_flexbox.scss";
@import "_fonts.scss";
@import "_variables.scss";

// Base
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background: $gray_light;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-in-out;
}
p {
  font-family: Quicksand, sans-serif;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
}

h2 {
  color: $primary;
  font-size: 40px;
  font-weight: 900;
  display: flex;
  padding-bottom: 20px;
  line-height: 1.1;
  @media screen and (min-width: $break-sm) {
    font-size: 40px;
  }
  @media screen and (min-width: $break-md) {
    font-size: 45px;
  }
  @media screen and (min-width: $break-lg) {
    font-size: 50px;
  }
  @media screen and (min-width: $break-xl) {
    font-size: 70px;
  }
}
a {
  cursor: pointer !important;
  outline: none;
  color: $primary;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #b3b3b3;
}
::-moz-placeholder {
  color: #b3b3b3;
}
:-ms-input-placeholder {
  color: #b3b3b3;
}
:-moz-placeholder {
  color: #b3b3b3;
}
::selection {
  color: $white;
  background: $primary;
}

// Animation page transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Bug correction
.tns-liveregion.tns-visually-hidden {
  opacity: 0;
  display: none;
}
