@import "./assets/scss/_variables.scss";

.__amp {
  display: flex;
  flex-direction: column;
  align-items: center;

  .layout {
    position: relative;
    overflow: hidden;
    max-width: 480px;
    width: 100vw;
  }
  .header {
    display: flex;
    height: 60px;
    align-items: center;
    box-shadow: 0px 0px 28px -1px rgba(46, 61, 98, 0.15);
    margin-bottom: 30px;
    & .logo {
      color: $primary;
      flex: 1;
    }
    & .nav {
      justify-content: flex-end;
      flex: 1;
      label {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
      }

      input {
        display: none;
      }

      input:checked ~ label {
        right: 0;
      }

      .burger {
        position: absolute;
        top: 20px;
        right: -20px;
        cursor: pointer;
      }
      .burger g {
        stroke: $primary;
        transition: stroke 0.25s ease-in-out;
      }
      .burger g:hover {
        stroke: darken($primary, 20%);
      }
      input:checked ~ label .burger {
        opacity: 0;
      }

      .close {
        position: absolute;
        top: 20px;
        right: -10px;
        cursor: pointer;
        opacity: 0;
      }
      .close g:hover {
        stroke: darken(#ffffff, 20%);
      }
      .close g {
        stroke: #ffffff;
        transition: stroke 0.25s ease-in-out;
      }
      .close line {
        transform-origin: 0%;
      }
      .close g {
        transform: rotateZ(45deg);
        transform-origin: 50%;
      }
      input:checked ~ label .close {
        opacity: 1;
      }

      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: $secondary;
        transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        color: $white;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        display: none;
        & a {
          color: $white;
          font-family: Poppins, sans-serif;
          text-decoration: none;
        }
      }

      input:checked ~ .menu {
        opacity: 1;
        display: flex;
      }

      .menu div {
        margin-top: 50px;
        transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      input:checked ~ .menu div {
        margin-top: 0px;
      }
    }
  }
  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    max-width: 480px;
    background: $white;
    box-shadow: 0px 0px 28px -1px rgba(46, 61, 98, 0.15);
    & ul {
      display: flex;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      & li {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-around;
        color: $primary;
        border-right: 1px solid rgba(1, 1, 1, 0.1);
        &:last-child {
          border: none;
        }
        & svg {
          fill: $primary;
        }
      }
    }
  }
  .post {
    margin-bottom: 100px;
    padding: 0 10px;
    figure {
      display: flex;
      margin: 0;
      padding: 20px 0;
    }
    header {
      & h1 {
        font-family: Montserrat, sans-serif;
        color: $primary;
      }
    }
    article {
      color: $primary;
      width: 100%;
      & span,
      b,
      strong,
      p,
      a,
      li {
        font-family: Poppins, sans-serif;
      }
      & sup {
        top: -0.5em;
      }
      & pre {
        font-family: monospace, monospace;
        font-size: 1em;
        white-space: pre-wrap;
        padding: 20px;
      }
      & ul,
      ol {
        list-style-type: disc;
        padding: 0 0 0 20px;
        & li {
          font-size: 15px;
          line-height: 36px;
          & span {
            font-size: 15px;
          }
        }
      }
      & code,
      kbd,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }
      & table {
        margin: 1em 0;
        min-width: 300px;
        width: 100%;

        & tr {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
        }

        & th {
          display: none;
        }

        & td {
          display: block;

          &:first-child {
            padding-top: 0.5em;
          }
          &:last-child {
            padding-bottom: 0.5em;
          }

          &:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
            @media (min-width: $break-md) {
              display: none;
            }
          }
        }

        th,
        td {
          text-align: left;

          @media (min-width: $break-md) {
            display: table-cell;
            padding: 0.25em 0.5em;

            &:first-child {
              padding-left: 0;
            }

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
      & table {
        background: rgba($secondary, 0.08);
        overflow: hidden;
        & tr {
          border-color: rgba($secondary, 0.5);
        }
        & th,
        td {
          margin: 0.5em 1em;
          @media (min-width: $break-md) {
            padding: 0.7em;
          }
        }
      }

      & a {
        color: #4b5f7d;
        transition: all 250ms ease-in-out;
        border-bottom: 1px dotted #becbdc;
        word-wrap: break-word;
        font-weight: 600;
        & span {
          color: #4b5f7d;
        }
        &:visited {
          color: #4b5f7d;
        }
      }
      & ul ul ul {
        list-style-type: square;
      }
      & ul ul {
        list-style-type: circle;
      }
      ol {
        list-style-type: decimal;
      }
      & ul {
        list-style-type: disc;
      }
      & big {
        font-size: larger;
      }
      & del {
        text-decoration: line-through;
      }
      & p {
        font-size: 16px;
        padding: 15px 0px;
        margin: 0;
      }
      & em,
      cite,
      var {
        font-style: italic;
      }
      & b,
      strong {
        font-weight: 600;
      }
      & h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Quicksand, sans-serif;
        color: $primary;
        font-weight: 900;
        margin: 0.85em 0;
      }
      & h1 {
        font-size: 1.8em;
      }
      & h2 {
        font-size: 1.5em;
      }
      & h3 {
        font-size: 1.3em;
      }
      & img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        padding: 10px 0;
      }
      & .has-text-align-right {
        text-align: right;
      }
    }
  }
}
